Source: libanon
Priority: extra
Maintainer: Andrew Otto <otto@wikimedia.org>
Build-Depends: debhelper (>= 7), openssl
Standards-Version: 3.9.2
Section: libs
Homepage: http://cnds.eecs.jacobs-university.de/software/libanon/

Package: libanon0-dev
Section: libdevel
Architecture: any
Depends: libanon0 (= ${binary:Version})
Description: IP address anonymization functions.
 The C library libanon provides a collection of anonymization functions.
 The library was originally created to support data anonymization in the snmpdump
 tool. For this purpose, anonymization mechanisms were needed that can protect the
 lexicographic ordering of data.

Package: libanon0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: IP address anonymization functions.
 The C library libanon provides a collection of anonymization functions.
 The library was originally created to support data anonymization in the snmpdump
 tool. For this purpose, anonymization mechanisms were needed that can protect the
 lexicographic ordering of data.

Package: anon
Section: utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libanon0
Description: IP address anonymization tool.
 CLI interface to libanon functions.
